:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: Neue Montreal, sans-serif; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: #f4f4f4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-dark-color: #242424;
  --primary-light-color: #f4f4f4;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-light-color);
  padding: 5px 8px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--primary-light-color);
  background-color: #242424;
}

button:hover,
button:focus,
a:hover,
a:focus {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
  border: 1px solid var(--primary-dark-color);
}

/* 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* @font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Neue Montreal"),
    url(../fonts/NeueMontreal-Regular.woff2) format(woff2),
    url(../fonts/NeueMontreal-Regular.woff) format(woff),
    url(../fonts/NeueMontreal-Regular.ttf) format(ttf);
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("Neue Montreal"),
    url(../fonts/NeueMontreal-Italic.woff2) format(woff2),
    url(../fonts/NeueMontreal-Italic.woff) format(woff),
    url(../fonts/NeueMontreal-Italic.ttf) format(ttf);
} */
