.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 60px;
  background-color: var(--primary-dark-color);
  margin-bottom: 30px;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.navItem {
  color: var(--primary-light-color);
  background: var(--primary-dark-color);
}

.link {
  color: black;
  text-decoration: none;
  color: var(--primary-light-color);
  background: var(--primary-dark-color);
  font-size: 24px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  text-decoration: underline;
}

.active {
  padding: 6px 12px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
  color: var(--primary-dark-color);
  background: var(--primary-light-color);
}
